body{
    font-family: Arial, Tahoma;
    font-size: 12px;
}

#main{
    width: 1000px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

#head{
    width: 1000px;
    height: 130px;
    background-color: cadetblue;
    margin-bottom: 5px;
}

#head-link{
    height: 130px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 297px 697px;
    grid-column-gap: 5px;
}

#hlink1{
    background-color: slateblue;
}

#hlink2{
    background-color: rgb(153, 62, 148);
}

#content{
    width: 1000px;
    height: 450 px;
    margin-bottom: 5px;
}

#content1{
    width: 1000px;
    height: 130px;
    display: grid;
    grid-template-columns: 697px 297px;
    grid-column-gap: 5px;
    margin-bottom: 5px;    
}

#content11{
    background-color: #75c462;
}

#content12{
    background-color: #4f7c44;
}

#content2{
    width: 1000px;
    height: 130px;
    display: grid;
    grid-template-columns: 297px 697px;
    grid-column-gap: 5px;
    margin-bottom: 5px;    
}

#content21{
    background-color: #602f74;
}

#content22{
    background-color: #a480d3;
}


#content3{
    width: 1000px;
    height: 130px;
    background-color: #56661c;
}


#footer{
    width: 1000px;
    height: 50px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(243, 85, 85);
}