body{
    font-family: Arial, Tahoma;
    font-size: 12px;
}

#main{
    width: 1000px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

#head{
    width: 1000px;
    height: 50px;
    background-color: cadetblue;
    margin-bottom: 5px;
}

#head-link{
    width: 1000px;
    height: 100px;
    margin-bottom: 5px;
    background-color: #dd9267;
}

#content{
    width: 1000px;
    margin-bottom: 5px;
}

#content1{
    width: 1000px;
    height: 100px;
    margin-bottom: 5px;  
    display: grid;
    grid-template-columns: 748px 248px;
    grid-column-gap: 5px;
}

#content11{
    background-color: #75c462;
}

#content12{
    height: 70px;
    background-color: #75c462;
    margin-bottom: 10px;
}

#content2{
    width: 1000px;
    height: 100px;
    margin-bottom: 5px; 
    background-color: #a480d3;  
}

#content3{
    width: 1000px;
    height: 100px;
    margin-bottom: 5px;  
    display: grid;
    grid-template-columns: 748px 248px;
    grid-column-gap: 5px;
}

#content31{
    background-color: #214917;
}

#content32{
    height: 70px;
    background-color: #214917;
    margin-bottom: 10px;
}

#content4{
    width: 1000px;
    height: 50px;
    margin-bottom: 5px;    
    background-color: blueviolet;
}

#content5{
    width: 1000px;
    height: 100px;
    background-color: #593488;
    margin-bottom: 5px;    
}

#footer{
    width: 1000px;
    height: 80px;
    display: grid;
    grid-template-columns: 497px 497px;
    grid-column-gap: 5px;
}

#footer1{
    background-color: rgb(243, 85, 85);
}

#footer2{
    background-color: rgb(243, 85, 85);
}